main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Estilos para el nombre del empleado */
.employee-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Estilos para la valoración del empleado */
  .employee-rating {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Estilos para la información del empleado */
  .employee-info {
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Estilos para el enlace del empleado */
  .custom-link {
    text-decoration: none!important;
    /* Añade cualquier otro estilo que desees para los enlaces */
  }

  /* Estilos para la estación Primavera */
.primavera-uno {
    background-color: #82C341!important;
    color: #FFFFFF;
  }
  
  .primavera-dos {
    background-color: #F4E346!important;
    color: #000000;
  }
  .primavera-dos:hover {
    background-color: #F4E346!important;
    color: #000000;
  }
  
  .primavera-tres {
    background-color: #F7B3C2!important;
    color: #000000;
  }
  
  /* Estilos para la estación Verano */
  .verano-uno {
    background-color: #3CA8C9!important;
    color: #FFFFFF;
  }
  
  .verano-dos {
    background-color: #FCD440!important;
    color: #000000;
  }
  .verano-dos:hover {
    background-color: #FCD440!important;
    color: #000000;
  }
  
  .verano-tres {
    background-color: #FF7F50!important;
    color: #000000;
  }
  
  /* Estilos para la estación Otoño */
  .otoño-uno {
    background-color: #A0522D!important;
    color: #FFFFFF;
  }
  
  .otoño-dos {
    background-color: #D2691E!important;
    color: #000000;
  }
  .otoño-dos:hover {
    background-color: #D2691E!important;
    color: #000000;
  }
  
  .otoño-tres {
    background-color: #FFC300!important;
    color: #000000;
  }
  
  /* Estilos para la estación Invierno */
  .invierno-uno {
    background-color: #A0AABE!important;
    color: #FFFFFF;
  }
  
  .invierno-dos {
    background-color: #4A90E2!important;
    color: #000000;
  }
  .invierno-dos:hover {
    background-color: #4A90E2!important;
    color: #000000;
  }
  
  .invierno-tres {
    background-color: #FFFFFF!important;
    color: #000000;
  }